body {
  background-color: #f0f0f0;
}

.logo {
  width: 136px;
}

.temperature__img {
  width: 20px;
  height: 20px;
}

.bank__logo {
  width: 50px;
  height: 20px;
  cursor: pointer;
}

.jch_2026 {
  width: 100px;
  cursor: pointer;
}

main {
  margin-top: 20px !important;
}

.new__and__sidebar {
  display: flex;
  gap: 20px;
}

.date {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #777;
}

.date__img {
  width: 20px;
}
